// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.header-logo　{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
.header-list {
    float: left;
    a {
        float: left;
        padding: 33px 20px;
    }
} 